{% extends "master.html" %}

{% block content %}
<div class="home-1">
    <div class="home-1-title">
    Don't let lawmakers make decisions on your behalf without making your voice heard.
    </div>

    <div class="address"><form action="{{url_for('data')}}" name = "submitform" onsubmit= "return validateForm()" method="post"><input type="text" name="firstname" placeholder="enter your address" required>

        <select class="state-dropdown" name = "state">
            <option>CHOOSE A STATE</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <div class="make-a-call"><input type="submit" value="Make a call"></div>
    </form>

    </div>

    <div class="address">



    </div>

</div><!--Home1-->

<div class="home-2">
    <a name="call"></a>
    <div class="uk-container uk-align-center uk-width-5-6">
        <h2 class="heading">Why Call?</h2>
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/1.png">
                <h3>Power in Numbers</h3>
                <p>Congressional offices tally the number of calls they get about an issue, and pass the information along to representatives to consider. When there’s a large volume of calls about an issue, they’re forced to take a stand and respond.</p></div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/2.png">
                <h3>Know Where Your Rep Stands</h3> <p>Make sure to know where your representative stands on issues and call effectively based on those stances. If they haven't taken a stand, you can let them know you expect them to.</p></div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/3.png">
                <h3>Reps Work for You</h3>
                <p>It is in the legislator's best interest to accurately represent his or her base because they want to remain in office. Making your voice heard applies pressure for action.</p></div>
            </div>
        </div>
        <div class="uk-child-width-expand@s no-margin-top uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/4.png">
                <h3>Beyond the Votes</h3> <p>Voting on an issue is the least of what a legislator can do. If a rep sees their base advocating strongly for an issue, it incentivizes them to advocate for it publicly and within their chamber, or they can even ask for a bill not to be brought up at all.</p></div>
            </div>
             <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/5.png">
                <h3>Don't Assume</h3>
                <p>While democratic representatives usually stand for liberal issues, it’s not a good idea to expect them to always vote along party lines. If a rep thinks their constituency doesn’t care about an issue, they can become complacent and waiver support.</p></div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                <img src="../static/images/6.png">
                <h3>The Bottom Line</h3>
                <p>If you have a strong opinion about an issue, it’s extremely important to voice it, no matter what your rep’s position may be. Make sure to let them know we’ll be watching their vote.</p></div>
            </div>
        </div>
         <div class="uk-child-width-expand@s uk-text-center" uk-grid>
         </div>

    </div>
    <div class="home-2-bottom">
        <div class="address">
        <div class="home-title-bottom">Enter your address to begin.</div> 
            <form action="{{url_for('data')}}" method="post"><input type="text" name="firstname" placeholder="enter your address" required>

                <select class="state-dropdown" required>
                    <option>CHOOSE A STATE</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
           
        
        </div>
        <div class="make-a-call"><input type="submit" value="Make a Call"></div>
         </form>
    </div><!--home-2-bottom-->
</div><!--home2-->
{% endblock %}

{% block js_script %}
<script type="text/javascript">
$('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && 
        location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
    }
});
</script>
<script>
    function validateForm(){
        var x = document.forms["myForm"]["firstname"].value;

        if(x == "") {
            alert("Please submit adress");
            return false;
        }
        
    }

</script>
{% endblock %}
