

/* ------------- FONT STYLES ------------- */

@font-face {
  font-family: 'Avenir';
  src: url('../static/fonts/Avenir-Light.eot'); /* IE9 Compat Modes */
  src: url('../static/fonts/Avenir-Light.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../static/fonts/Avenir-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../static/fonts/Avenir-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../static/fonts/Avenir-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../static/fonts/Avenir-Light.svg') format('svg'); /* Legacy iOS */
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../static/fonts/Avenir-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../static/fonts/Avenir-Heavy.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../static/fonts/Avenir-Heavy.woff') format('woff2'), /* Super Modern Browsers */
       url('../static/fonts/Avenir-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../static/fonts/Avenir-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../static/fonts/Avenir-Heavy.svg') format('svg'); /* Legacy iOS */
font-weight: bold;
font-style: bold;
}

h2 {
  font-weight:bold;
  color:#494949;
  font-size:2em;
  letter-spacing:2px;
  text-align:center;
  margin-bottom:0;
}

.left {
    text-align:left;
}

.center {
  text-align:center;
}

h3 {
  font-weight:bold;
  color:#494949;
  font-size:1.1em;
  letter-spacing:3px;
  text-transform:uppercase;
  margin-bottom:0px;
}

h3.underline {
    border-bottom: 2px solid #ff0000;
    padding-bottom:10px;
}

h4 {
  font-weight:bold;
  color:#494949;
}

h5 {
  font-weight:bold;
  color:#494949;
  letter-spacing:3px;
  text-transform:uppercase;
}

h6 {
  font-weight:bold;
  color:#494949;
  letter-spacing:3px;
  text-transform:uppercase;
  font-size:.9em;
  margin-top:0px;
  margin-bottom:!important;
}

#event-title-mobile {
  display:none;
}

.red:hover {
    color:#ff0000!important;
}

.uk-navbar-nav > li:hover > a {
 
}

.heading {
  padding-bottom:40px;
}

.cover {
  background-color:#eee;
  display:table;
  padding:10px;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-bottom:20px;
}

.padding-bottom {
  padding-bottom:10px;
}

.padding-bottom-medium {
  padding-bottom:20px;
}

.padding-bottom-large {
  padding-bottom:200px!important;
}

.padding-bottom-about {
  padding-bottom:100px;
}

.padding-top {
  padding-top:40px;
}

hr {
  width:1.5em;
  border-bottom: 1px solid #494949;
  margin-top:40px;
  margin-bottom:40px;
}

p {
  color:#494949;
}

.link:hover{
  color:#ff0000;
  text-decoration:none;
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.icon {
  font-size:1.2em!important;
  margin-right:10px;
}

.shallow-padding-first {
  padding:0px 0px 3px 30px!important;
}

.shallow-padding {
  padding:0px 0px 3px 5px!important;
}

.home-1-title-text {
  display:none;
}

.flashes {
  list-style: none;
  padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}

/* ------------- CONTAINER DIVS ------------- */


html, body {
 background:url("../static/images/bg.png") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin:0;
 padding:0;
 height:100%;
}

.container {
  min-height:100%;
  position:relative;
}

.transparent-white {
  background: #fff;
  padding:60px 100px 60px 100px; 
}

.margin-top-none {
  margin-top:0!important;
}

.page {
  padding-bottom:150px; 
}


/* ------------- FOOTER ------------- */

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:200px;
  background:#eee;
  text-align:center;
  font-size:.8em;
  letter-spacing:1px;
}

.margin-right {
  margin-right:40px;
}

.footer-container-mobile {
  display:none;
}

.footer-container {
  padding-top:50px;
  text-align:left;
  color:#a1a1a1;
  margin-left:150px;
  margin-right:100px;
}

.footer-container img {
  width:150px;
}


.footer-container h3 {
  color:#a1a1a1;
}

footer a {
  color:#a1a1a1;
}

footer a:hover {
  color:#ff0000;
  text-decoration:none;
}



/* ------------- TOP STRIPE ------------- */

.stripe {
  background-color:#ff0000;
  width:100%;
  height:6px;
}

/* ------------- LOGO ------------- */

.uk-logo img {
  width:250px;

}

.uk-logo {
    padding-left:0px!important;
}

/* ------------- NAVBAR ------------- */

.uk-navbar {
  font-weight:bold;
  letter-spacing:2px;
 
}

.underline {
  border-bottom: 2px solid rgba(255, 0, 0, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}

.underline:hover {
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.logo-blue {
  display:none;
}


/* ------------- ACTIVE NAVBAR LINK ------------- */

.uk-navbar-nav > li.uk-active > a .underline {
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.uk-navbar-nav > li.uk-active > a {
  padding-left:0px;
  padding-right:0px;
  height:auto!important;
  padding-top:28px;
}

li.uk-active {
  padding-left:30px;
  padding-right:30px;
}

/* ------------- MOBILE NAVBAR ------------- */

.uk-offcanvas-bar {
  width:100%;
  height:auto;
}

#mobile-menu {
  display:none;
  
}

.uk-navbar-nav-mobile {
  display:block;
  width:100%;
  color:#fff!important;
  text-align:center;
  padding-top:50px;
}

/* MOBILE NAVBAR */ 

@media (max-width: 960px) {
  .mobile-menu-logo {
    width:250px;
    display:inline-block;
    float:left;
    padding-top:15px;
    margin-left:20px;
  }

  #mobile-menu {
    display:block;
    width:100%;
    background-color:transparent;
    color:#fff;
    text-align:right;
    font-size:1.7em;
  }

  #desktop-menu {
    display:none;
  }

  .mobile-menu-icon {
    margin-right:25px;
    margin-top:20px;
    cursor:pointer;
    color:#0090ff;
  }

  .mobile-menu-close-icon {
    color:#fff;
    cursor:pointer;
    text-align:right;
  }

  .uk-offcanvas-bar .uk-navbar-nav > li > a {
    color:#fff;
    font-size:1.2em;
    display:inline-block;
   border-bottom:none;
   padding-right:10px;
   padding-left:10px;

  }

  .mobile-menu-close-icon img {
    width:20px;
  }

  .underline {
    width:100%;
    text-align:center;
  }


  .uk-navbar-nav-mobile {
  display:block;
  width:100%;
  color:#fff!important;
  text-align:center;
  padding-top:50px;
}

  /* HOME PAGE */ 

  .flashes {
    color:#ff0000;
    
    text-align: left;
    float: left;
  }

  .flashes li {
    display: inline-block;
  }

  body {
    background-color:#fff;
    background-image:none;
    color:#0090ff;
  }

  body .home-1-title-text {
    display:block;
    color:#0090ff;
    text-align:left;
    margin:0;
    width:100%;
    margin-bottom:30px;
  }

  body .home-1 {
    padding-left:5%;
    padding-right:5%;
    padding-bottom:75px;
    background-color:#fff;
  }

  body .home-1-title {
    width:100%;
    font-weight:bold;
    text-shadow:none;
    text-align:left;
    color:#0090ff;
    font-size:1.7em;
  }

  body .address input[type=text],.address-bottom input[type=text]  {
    width:90%!important;
    margin-top:0px!important;
    margin-bottom:15px!important;
    border-color: #eee;
    color:#0090ff;
    float:left;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  body .state-dropdown,.state-dropdown-bottom {
    width:50%!important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 100% 100%!important;
    background-size: 10px;
    float:left;
    border-color: #eee;
    color: #0090ff;
    margin-bottom:15px;
  }

  .make-a-call {
    text-align:left;
    margin-top:50px;
  }

  body .home-2 {
    padding-bottom:0;
    background-color:#f9f9f9;
    padding-top:10px;
  }

  * + [class*='uk-align'] {
    margin:0 5% 0 5%;
    width:90%;
  }

  h2 {
   padding-top:40px;
   font-size:1.5em;
  }

  .heading {
    padding-bottom:0px;
    margin-top:0;
  }

  .inline-block {
    display:inline-block;
  }

  .margin-bottom-mobile {
    margin-bottom:40px;
  }

  .margin-bottom-small-mobile {
    margin-bottom:20px;
  }

  .padding-top {
    padding-top:0;
  }

  .uk-grid > * {
    padding:0;
  }

  body .uk-card-body img {
    width:40px;
  }

  .uk-container {
    padding:0;
  }

  .card-h3 {
    display:inline-block;
    padding-left:15px;
  }

  .uk-grid > .uk-grid-margin, * + .uk-grid-margin {
    margin-top:0;
  }

  body .uk-card-body {
    padding: 0px 0px 30px 5px;
    background-color:#f9f9f9;
  }

  .logo-white {
    display:none;
  }

  .logo-blue {
    display:block;
  }

  body .address ::-webkit-input-placeholder {
    color: #0090ff;
    text-transform:uppercase;
  }

  body .address :-moz-placeholder { /* Firefox 18- */
    color: #0090ff;
    text-transform:uppercase;
  }

  body .address ::-moz-placeholder {  /* Firefox 19+ */
    color: #0090ff;
    text-transform:uppercase;
  }

  body .address :-ms-input-placeholder {  
     color: #0090ff;
     text-transform:uppercase;
  }

  /* DATA PAGE */

  body .mobile-dropdown {
    display:block;
    font-size:1.1;
    width:100%;
    background-color:#f9f9f9;
    padding:10px;
    margin-bottom:20px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
  }

  h5 {
    display:none;
  }

  h3 {
   
  }

  a:hover {
    text-decoration:none;
    color:#ff0000;
  }


  body .uk-grid {
    margin-left:0;
  }

  .transparent-white {
    padding:5%;
  }

  body .issues-text {
    color:#494949;
  }

  .how-to {
    
  }

  .what-to-say {
    display:none;
  }

  body .rep-name {
    background-color:#fff;
  }

  body .phone-numbers {
    height:auto;
    padding-bottom:40px;
  }

  table {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
  }

  body .issue {
    padding: 8px 8px 8px 8px;
    width:48%;
  }

  h5 {
    text-align:left;
  }
  
  body .gray-box {
    padding:5%!important;
    height:72%;
  }

  .hidden {
    display: none;
  }

  .unhidden {
    display:block;
  }

  .mobile-dropdown {
    display:block;
    width:100%;
  }

  .padding-bottom-large {
    padding-bottom:0;
  }

  body .mobile-instruction {
    display:block;
  }

  /* ABOUT */

  .mobile-p {
    padding-bottom:40px;
  }

  p {
    margin-bottom:0px;
  }

  /* FOOTER */

  .footer-container {
    display:none;
  }

  .footer-container-mobile {
    display:block;
    padding-top:20px;
  }

  footer {
    height:150px;
  }

  .page {
    padding-bottom:150px;
  }

  .padding-left-mobile {
    padding-left:11px;
  }

  /* EVENTS PAGE */

  body .home-2-bottom {
    background-color:#f9f9f9!important;
    background:none;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:75px;
  }

  .your-class {
    width:80%;
    margin:0 auto;
  }

  .make-a-call input[type=submit] {
    clear: both;
    display: block;
  }

  .events-heading {
    font-weight:bold;
  color:#494949;
  font-size:1.1em;
  letter-spacing:3px;
  text-transform:uppercase;
  margin-bottom:0px;
  }

  body #event-title {
    display:none;
  }

  body #event-title-mobile {
    display:block;
    text-align: center;
    margin-top: 40px;
    color:#494949;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.1em;
}
  



}



/* ------------- HOME PAGE ------------- */

/* Top */

.home-1-title {
  font-size:2em;
  color:#fff;
  width:55%;
  margin:0 auto;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  font-weight:bold;

}

.home-1-title-text {
  font-size:.9em;
  color:#fff;
  width:45%;
  margin:0 auto;
  padding-top:15px;
}

.home-1 {
  text-align:center;
  padding-bottom:200px;
  padding-top:10%;
}

/* Bottom */

.uk-card-body {
  background-color:#fff;
  text-align:left;
  font-size:.9em;
}

.are-you-ready {
  text-transform:uppercase;
  color:#eee;
  font-size:5em;
  opacity:.4;
  margin-top:-122px;
  z-index:1;
  position:relative;
}

.home-2 {
  background-color:#fff;
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.home-2-bottom {
  background:url("../static/images/capitol.jpg") no-repeat 50% 30% fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;       
 padding-top:40px;
 padding-bottom:100px;
 margin:0 auto;
 text-align:center;
}


.home-title-bottom {
  font-weight:bold;
  color:#494949;
  text-transform:uppercase;
  font-size:1.5em;
  padding-left:20px;
  padding-top:40px;
  letter-spacing:2px;
}

.small {
  font-size:1.1em;
  width:60%;
  margin:0 auto;
}

.help-text {
  margin:0 auto;
  font-size:1em;
  font-weight:bold;
  color:#494949;
  width:40%;
}

/* ------------- MAKE A CALL BUTTONS ------------- */

/* Red */

.address input:focus {
    outline: none;
    color:#fff;
}

.address input[type=text] {
  background-color:transparent;
  border:2px solid #fff;
  border-radius:5px;
  width:20%;
  line-height:2em;
  margin-top:30px;
  margin-bottom:30px;
  padding:6px;
  padding-left:10px;
  color:#fff;
}

.address ::-webkit-input-placeholder
 {
   color: #fff;
  text-transform:uppercase;

}

.address :-moz-placeholder { /* Firefox 18- */
   color: #fff;
   text-transform:uppercase;

}

.address ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
 text-transform:uppercase;

}

.address :-ms-input-placeholder {  
   color: #fff;
   text-transform:uppercase;

}

.make-a-call input[type=submit] {
  background-color:#ff0000;
  border:none;
  padding:15px 40px 15px 40px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:1.2em;
  cursor:pointer;
  transition: background 0.5s linear;
  -webkit-appearance: none;
}

.make-a-call input:hover {
 
  background-color:#fff;
   color:#ff0000;
}

.state-dropdown {
  border:2px solid #fff;
  background-color:transparent;
  color:#fff;
  width:150px;
  height:38px;
  -webkit-appearance:none;
  background: url("images/white-arrows.svg") no-repeat 95% 50%;
  background-size:5%;
  padding-left:10px;
  padding-right:20px;
}

.state-dropdown:focus {
  outline:none;
}

/* Blue */

.address-bottom input:focus {
    outline: none;
    color:#494949;
}

.address-bottom ::-webkit-input-placeholder
 {
   color: #494949;
   text-transform:uppercase;
}

.address-bottom :-moz-placeholder { /* Firefox 18- */
    color: #494949;
   text-transform:uppercase;  
}

.address-bottom ::-moz-placeholder {  /* Firefox 19+ */
    color: #494949;
   text-transform:uppercase;  
}

.address-bottom :-ms-input-placeholder {  
    color: #494949;
   text-transform:uppercase;  
}

.make-a-call-blue input {
  background-color:#ff0000;
  border:none;
  padding:15px 40px 15px 40px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:1.2em;
  margin-top:10px;
  cursor:pointer;
  transition: background 0.5s linear;
  margin-top:30px;
}

.make-a-call-blue input:hover {
  background-color:#ff0000;
  color:#fff;

}

.address-bottom input[type=text] {
  background-color:transparent;
  -webkit-appearance:none;
  border:2px solid #494949;
  border-radius:5px;
  width:25%;
  margin-top:40px;
  margin-bottom:30px;
  padding-left:10px;
  font-size:1em;
  height:38px;
}

.city-width {
  width:150px!important;
}

.state-dropdown-bottom {
  border:2px solid #494949;
  background-color:transparent;
  -webkit-appearance:none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 95% 50%;
  background-size:10%;
  color:#494949;
  width:auto;
  height:44px;
  font-size:1em;
  padding-left:10px;
  padding-right:20px;
}



/* ------------- SCRIPTS PAGE ------------- */

.mobile-dropdown {
  display:none;
}

.mobile-instruction {
  display:none;
}

.issues-text {
  margin-top:20px;
}

.gray-box {
  background-color:#f7f7f7;
  padding:40px;
  height:63%;
}

.boxes {
  padding-top:40px;
}

.issues, .numbers {
  padding:20px;
}

.issue-title {
  font-weight:bold;
  font-size:1.1em;
}

.issue {
  border:none;
  padding:18px 8px 18px 8px;
  color:#6d6d6d;
  text-transform:uppercase;
  cursor:pointer;
  margin-bottom:6px;
  display:inline-block;
  width:24%;
  margin-right:3px;
  text-align:center;
  font-size:.8em;
  font-weight:bold;
  letter-spacing:2px;
  background-color:#f1f1f1;
}

.issue:hover {
  background-color:#ff0000;
  color:#fff;
  transition: 0.5s ease;
}

.request {
  background-color:#eee;
  border:none;
  padding:10px 18px 10px 18px;
  color:#494949;
  text-transform:uppercase;
  cursor:pointer;
  margin-bottom:6px;
  display:inline-block;
  width:auto;
  margin-right:3px;
  text-align:center;
  font-size:.8em;
  margin-top:10px;
}

.box {
  color: #000;
  display: none;
  margin-top: 25px;
  margin-bottom:100px;
}

.issue-content {
  display: none;
  transition:0.5s fadeInDownBig;
}

.issue-text {
   padding-top:40px;
}

.issue.active {
  background: #ff0000;
  color:#fff;
  }

.dropdown {
  width: 100%;
  border: 2px solid #eee;
  margin-top: 15px;
  height: 40px;
  font-size: .9em;
  background-color: transparent;
  color: #494949;
  padding-left:10px;
  -webkit-appearance:none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% 50%;
}

.tips {
  width:33%;
}

ol {
  line-height:2em;
  counter-reset: item;
  padding-left:0px;
  margin-top:0px;
  font-size:.9em;
}

ol li {
  display:block;
  margin-bottom:20px;

}

ol li:before {
    content: counter(item);
    counter-increment: item;
    font-weight: bold;
    color:#ff0000;
    padding:3px 3px 3px 0px;
    margin-right:8px;
}

.issues-top {
  min-height:200px;
}

.issue-boxes {
  
}

.no-margin-top {
  margin-top:0!important;
}

.uk-card-body img {
  width:60px;
}

.uk-card {
  padding-top:0;
}

[class*='uk-align'] {
  margin-bottom:0;
}

.bigger {
  font-size:1.2em;
  color:#494949;
}

.script {
  line-height:1.8em;
  color:#494949;
}

.script-title {
  font-size:1.2em;
  font-weight:bold;
  text-transform:uppercase;
  color:#494949;
}

.script-bottom {
  margin-bottom:100px;
}

.margin-center {
  margin:0 auto;
}

.scripts-table {
  padding-top:10px;
  padding-bottom:5px;
}

.send-message {
  text-transform:uppercase;
  font-weight:bold;
  font-size:.8em;
}

.phone-numbers {
  height:auto;
  padding-bottom:100px;
}

.rep-name {
  font-size:.9em;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  color:#494949;
  padding:8px;
  background-color:#f1f1f1;
}

.rep-number {
  text-transform:uppercase;
  padding-bottom:5px;
  color:#494949;
  font-size:.9em;
  letter-spacing:1px;
}

.cellpadding {
  border-spacing: 0px 10px;
}

.td-padding {
  padding-left:8px;
}

.td-padding-top {
  padding-top:20px;
}

.i-called {
  background:url("../static/images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:30%;
}

/* ------------- EVENTS PAGE ------------- */

/* the slides */
  .slick-slide {
    margin: 0 20px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }

/* ------------- LEGAL PAGE ------------- */

.legal {
  height:450px;
}

