{% extends "master.html" %}

{% block content %}
<div class="transparent-white">
    <h3 class="heading center inline-block">MAKE YOUR VOICE HEARD. TAKE A STAND FOR PROGRESSIVE BELIEFS.</h3>
    <div class="uk-grid issues-text">
        <div class="uk-width-1-1 margin-center padding-bottom-about">
        <p class="mobile-p">

        We’re at a crucial moment in history, witness to unfathomable bigotry, discrimination and corruption fostered by the Trump Administration and the special interest groups who support it. 
        <br><br>
		The process of American renewal will be painful and difficult and it will not come overnight. But out of crisis arises opportunity, and now is our time to shape the future political landscape and the discourse that accompanies it. Right now we believe we have the chance to push a rattled democratic party toward a more progressive agenda. 
		<br><br>
		We’ve seen how a small, highly-activated group of politically motivated people can influence policy in the highest levels of government; grassroots activism is powerful. But we are no Tea Party. We’re a community of people honoring the inclusive notions of intersectionality, where folks of all race, gender and country of origin can come together to resist, challenge, and pursue justice.
		<br><br>
		Our aim is to eliminate the obscurity and show a clear path to letting our officials know how we feel. We realized that calling our representatives, while it matters, can take a while, between searching for who to call and trying to come up with what to say. Our aim is to bring that information to you, so you can quickly and effectively voice your concerns where it counts.
		<br><br>
		It’s time we hold our elected officials accountable to our beliefs and demand to see a more progressive America. Join our fight as we call our country to its highest values, and take the first step with us—call Congress.
		<br><br>
		<h3 class="heading center">ABOUT US</h3>
       
		<p class="mobile-p">Everyone who has worked on this website is a volunteer. Our goal is to help progressives like us channel our outrage into effective outlets for change. Check us out on <a href="https://github.com/call-congress/ProjectFreedom" target="blank" class="link">Github</a>! If you have any questions, comments, or want to get involved, contact us at <a href="mailto:info@call-congress.com" target="blank" class="link">info@call-congress.com</a>. </p>
  
        </div>
       
    </div>

        
</div><!--transparent white-->
{% endblock %}
