{% extends "master.html" %}

{% block content %}
<div class="transparent-white">
    <h5 class="heading center">MAKE YOUR VOICE HEARD. TAKE A STAND FOR PROGRESSIVE BELIEFS.
</h5>
    <div class="uk-grid issues-text">
        <div class="uk-width-3-4 margin-center">
        <p>We are at a crucial moment in history. A new era of bigotry, discrimination and corruption, fostered by the Trump administration and the representatives who support him. <br><br>

		The process of American renewal will be painful and difficult and it will not come overnight. But out of crisis arises opportunity, and now is our time to shape the future political landscape and the discourse that accompanies it. Right now, we believe we have the chance to push a battered democratic party toward a more progressive agenda.<br><br>

		We’ve seen a small, highly-activated group of politically motivated people influence policy in the highest levels of government; grassroots activism is powerful. But we are no Tea Party. We are a community of people honoring the inclusive notions of intersectionality, where folks of all race, gender and country of origin can come together to resist, challenge, and pursue justice.<br><br>

		Our aim is to eliminate the obscurity and show a clear path to letting our officials know how we feel, and it begins by getting their phones to ring off the hook. We refuse to remain a silent majority. It’s time we hold our elected officials accountable to our beliefs and demand to see a more progressive America. <br><br>

		Join our fight as we call our country to its highest values, and take the first step with us - call Congress.</p>
        </div>
    </div>

        
</div><!--transparent white-->
{% endblock %}
