{% extends "master.html" %}

{% block content %}
<div class="transparent-white">
            
    <div class="uk-grid issues-text">
        <div class="uk-width-1-4">
        <h2 class="heading">Mission</h2>
        <hr>
        </div>
        <div class="uk-width-1-4">
        asldfkalsdkfj
        </div>
        <div class="uk-width-1-4">
        asldfjsldkfj
        </div>
        <div class="uk-width-1-4">
        asldfjsldkfj
        </div>
    </div>

        
</div><!--transparent white-->
{% endblock %}
