{% extends "master.html" %}

{% block content %}


    	<div class="transparent-white padding-bottom-large">
    		<div class="uk-grid issues-text">

            <a href="javascript:unhide('instructions');" class="mobile-dropdown">Instructions <i class="fa fa-caret-down" aria-hidden="true"></i></a>

    		  <div class="uk-width-1-3@m how-to" id="instructions" class="hidden">
                <h3 class="center padding-bottom-medium hidden">How to Make a Call</h3>
                    <div class="gray-box">
                        <ol>
                            <li>Be sure to call local offices instead of just the DC office. There are staffers in local offices who specifically respond to constituents.</li>
                            <li>Leave a message if you can’t speak to somebody. If the inbox is full or phone line is down, try another office. If you can’t leave your message at all by phone, send an email, then call back another day.</li>
                            <li>Set aside time to make calls daily/weekly. Persistence is highly effective.</li>
                            <li class="mobile-instruction">Briefly explain why you are calling about the issue. We’ve provided effective examples below if you’re unsure of what to say.  If you have personal/professional experience with the issue, make sure to mention it. You can also call to ask where your rep stands on an issue, or simply call to thank them for their support.</li>
                        </ol>
                    </div>
                </div>
                <div class="uk-width-2-3@m what-to-say">
                <h3 class="center padding-bottom-medium">What to Say</h3>
                    <div class="gray-box">
	                	<ol>
	                    <li>Make sure to leave your name and full address where you’re registered to vote. Calls may be disregarded if you can’t prove your constituency. </li>
	                    <li>Name the issue you’d like to talk about.</li>
	                    <li>Name the action you want the representative to take on the issue.</li>
	                    <li>Briefly explain why you are calling. We’ve provided effective examples below if you’re unsure of what to say.  If you have personal/professional experience with the issue, make sure to mention it.</li>
	                    <li>You can also call to ask where your rep stands on an issue, or simply call to thank them for their support.</li>
	                	</ol>
                    </div>
    			</div>
    		</div>

            
		    <div uk-grid class="margin-top-none">

            <a href="javascript:unhide('phones');" class="mobile-dropdown">Phone Numbers <i class="fa fa-caret-down" aria-hidden="true"></i></a>
		    	<div class="uk-width-1-3@m hidden" id="phones">
				    <div class="phone-numbers">
						<h5 class="center">Your Legislators</h5>
						<table class="cellpadding">
							<tbody>
								<tr>
									<td><span class="rep-name">{{senator_1_name | safe}}</span></td>
								</tr>
								<tr>
									<td class="send-message td-padding scripts-table"><a href = "{{senator_1_url | safe}}" class="link">Send Message <i class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
								</tr>
							{%for office in sen_1_offices%}
								<tr><td class="rep-number td-padding">{{office |safe }}</td></tr>
							{%endfor%}
								<tr>
									<td class="td-padding-top"><span class="rep-name">{{senator_2_name | safe }}</span></td>
								</tr>
								<tr>
									<td class="send-message td-padding scripts-table"><a href="{{senator_2_url | safe}}" class="link">Send Message <i class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
								</tr>
								{%for office in senator_2_offices%}
									<tr><td class="rep-number td-padding">{{office | safe}}</td></tr>
								{%endfor%}
								<tr>
									<td class="td-padding-top"><span class="rep-name">{{rep | safe}}</span></td>
                                </tr>
								<tr>
									<td class="send-message td-padding scripts-table"><a href="{{url| safe}}" class="link">Send Message <i class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
								</tr>
								{%for num in numbers%}
									<tr><td class="rep-number td-padding">{{num | safe}}</td></tr>
								{%endfor%}
							</tbody>
						</table>

					</div>
				</div><!--uk width 1-3-->


                <a href="javascript:unhide('scripts');" class="mobile-dropdown">Scripts <i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<div class="uk-width-2-3@m hidden" id="scripts">
                <h5 class="center">SCRIPTS</h5>
                    <div>
                        <div class="issues-top">
                            

                            <!-- CATEGORY BUTTONS -->
                            <div class="issue-boxes">
                                <button class="issue" aria-hidden="true">Civil Rights</button>
                                <button class="issue" aria-hidden="true">Corruption</button>
                                <button class="issue" aria-hidden="true">Education</button>
                                <button class="issue" aria-hidden="true">Environment</button>
                                <button class="issue" aria-hidden="true">Healthcare</button>
                                <button class="issue" aria-hidden="true">Immigration</button>
                                <button class="issue" aria-hidden="true">Wall St</button>
                                <button class="issue" aria-hidden="true">Women's Rights</button>
                                <button class="issue" aria-hidden="true">Budget</button>
                                <button class="issue" aria-hidden="true">Request</button>
                            <!-- DROPDOWNS -->
                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Civil Rights</option>
                                            <option value="red">Support the Voting Rights Amendment Act</option>
                                            <option value="green">Protect Transgender Students</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Support the Voting Rights Amendment Act</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to support the Voting Rights Advancement Act, legislation that will protect our vulnerable communities from suppressive voting legislation. 
                                        <br><br>
                                        These laws are intentionally discriminatory on the basis of race, age, and disability and unconstitutionally disenfranchise millions of Americans. For Jeff Sessions and the Justice Department to dismiss the claim that suppressive voter laws are not crafted with the intention of discrimination is outrageous. A change in administration in no way invalidates thousands of pages of overwhelming evidence that proves this legislation deliberately suppresses minority voters. 
                                        <br><br>
                                        It is unacceptable to continue to disenfranchise voters in our democracy, and I urge <b>Sen/Rep _____</b> to support the Voting Rights Advancement act and to ensure that all voices can be heard. Thank you for your time.</p>
                                        </div>
                                    </div>
                                    <div class="green box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Protect Transgender Students</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to do everything in his/her power to oppose the lifting of Title IX protections for transgender students.
                                        <br><br>
                                        The reality is that there hasn’t been a single case of any student pretending to be transgender to gain access to a bathroom, and the real crime is turning our backs on vulnerable students who deserve to be protected under Title IX. This discriminatory decision leaves our most vulnerable children and teenagers at an even higher risk of bullying and stigmatization, and it is heinous that the Departments of Justice and Education are turning their backs and allowing this to happen in our schools.
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to take a stand for protection transgender students deserve and to encourage adults everywhere to do the same. Thank you for your time.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Corruption</option>
                                            <option value="red">Support The Conflict of Interest Act</option>
                                            <option value="green">Demand Trump Release His Tax Returns</option>
                                        </select>
                                    </div>
                                     <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Support The Conflict of Interest Act</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to support The Presidential Conflicts of Interest Act of 2017, the only legislation that will guarantee President Trump adheres to the interests of the American people and not to those of his businesses. 
                                        <br><br>
                                        By failing to divest his vast global empire, President Trump’s decision making is increasingly compromised by organizations and entities from which he is able to receive money while holding office. The only way to ensure that President trump is not abusing the highest seat of government is to divest and place them into a blind trust, procedure that has been the standard for previous presidents. By refusing to do so, he transparently puts the his own interests above those of the American people. 
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to support the Presidential Conflict of Interest Act and ensure that President Trump cannot continue to profit off of the office of the American Presidency. Thank you for your time.
                                        </p>
                                        </div>
                                    </div>
                                     <div class="green box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Demand Trump Release His Tax Returns</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling <b>Sen/Rep _____</b> to demand that President Trump release his Tax returns. 
                                        <br><br>
                                        President Trump, like all modern presidents, owes the American people full disclosure of his tax returns. People have the right to know that he is not trying to hide suspicious financial ties to foreign governments that he and his cabinet are beholden to. It is imperative that he shed light on all potential conflicts of interests and and definitively ensure that he isn’t playing by his own rules. 
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to demand for a release of Trump’s tax returns and to protect the integrity of the highest seat of our government. Thank you for your time.
                                        </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Education</option>
                                            <option value="red">Oppose H.R. 610</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                            <h5 class="padding-bottom">Oppose H.R. 610</h5>
                                            <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                            <br><br>
                                            I’m calling to urge <b>Sen/Rep _____</b> to oppose 610,  a dangerous and anti-democratic bill. 
                                            <br><br>
                                            The bill will eliminate the Elementary and Education Act of 1965, the bedrock Civil Rights Era law that provides equal opportunity in education for every American child. Moreover, H.R. 610 will eliminate and/or cut education programs that help gifted students, students with disabilities, and students who speak English as a second language. Lastly, this appalling bill will seek to promote a school voucher system, effectively privatizing education and allowing for profit companies to make millions off our children’s education at the expense of the taxpayer. 
                                            <br><br>
                                            I refuse to stand by and watch ideologue conservatives, special interest groups, and religious fundamentalists destroy our public education system and I urge <b>Sen/Rep _____</b> to oppose this bill. Thank you for your time.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Environment</option>
                                            <option value="red">Defend Obama’s Environmental Legacy </option>
                                            <option value="green">Investigate Pruitt’s Emails </option>
                                            <option value="blue">Block Development of the DA/Keystone Pipelines</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Defend Obama’s Environmental Legacy</h5>
                                        <p>
                                        My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to defend Obama’s environmental legacy and crucial legislation to protect our planet. 
                                        <br><br>
                                        Repealing legislation that protects against emissions in the interest of an elite few will cause unprecedented environmental catastrophe whose effects will be suffered worldwide. Furthermore, withdrawing from the Paris Agreement will not only render its crucial goals unattainable, but will embolden high emitting nations and leave little incentive to participate in the global effort to mitigate these devastating effects. 
                                        <br><br>
                                        Safeguarding the environment transcends this dangerously irresponsible conservative political agenda, and I expect <b>Sen/Rep _____</b> to take a stand a stand for our health, safety and preservation of the only planet we have to live on. Thank you for your time.</p> 
                                        </div>
                                    </div>
                                    <div class="green box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Investigate Pruitt’s Emails</h5>
                                        <p>
                                        My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to call for an investigation of Pruitt’s emails, evidence that shows he is unquestionably ill-fit to be at the head of the agency tasked with protecting our health, safety, and the environment. 
                                        <br><br>
                                        The emails demonstrate his collusion with key figures in the fossil fuel industry and his intent to severely degrade federal environmental protections in the interest of an elite few. This dangerously irresponsible agenda and clear degradation of Obama’s environmental legacy will cause unprecedented and irreversible environmental catastrophe across the globe. These emails have clearly demonstrated that we cannot trust Scott Pruitt to fairly police these he has such close ties to, and to reduce pollution and safeguard public health. 
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to call for an investigation of these emails and the dangerously irresponsible agenda they allude to, and to take a stand a stand for our health, safety and preservation of the only planet we have to live on.
                                        </div>
                                    </div>
                                    <div class="blue box">
                                         <div class="gray-box">
                                         <h5 class="padding-bottom">Block Development of the DA/Keystone Pipelines</h5>
                                        <p>
                                        My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to do everything possible to prevent the construction of the Dakota Access and Keystone XL Pipelines from continuing. 
                                        <br><br>
                                        The construction of these pipelines in its immediate areas desecrate sacred Native American grounds, and pose grave threats of oil spills and contaminated drinking water. These immediate effects are caused during a time we should be moving away from extracting extremely high-cost fossil fuels and investing in more sustainable and responsible sources of energy, an agenda that threatens environmental catastrophe worldwide. The economic ramifications of the worsening climate crisis show us that we should be fighting for jobs that build, not destroy the future we see for our children. 
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to stand against this devastating conservative agenda to put the short-term profits of the fossil fuel industry ahead of the future of our planet. Thank you for your time.</p>
                                        </div>
                                   </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Healthcare</option>
                                            <option value="red">Stop the Senate Healthcare Bill</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Stop the Senate Healthcare Bill</h5>
                                        <p>
                                        <i>Contact both of your senators about this bill.</i>
                                        <br><br>
                                        My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i> 
                                        <br><br>
                                        I’m calling to urge <b>Senator _____</b> to say no to the Senate Healthcare bill, draconian legislation that puts the lives of Americans in jeopardy by siphoning billions from Medicaid and providing tax cuts to the wealthy.
                                        <br><br>
                                        In an unprecedented move, Senate Republicans cowardly wrote this bill behind closed doors without the input of Senate Democrats or healthcare groups and the reasoning is clear. Not only does this bill boast deep cuts to Medicaid, but will also cause a rise in premiums for the middle class, and gives states the option to deny coverage of maternity care, emergency services, and mental health treatment.
                                        <br><br>
                                        I urge <b>Senator ____</b> to do everything in his or her power to delay all Senate business and to take a stand for the millions of American lives at stake by rejecting this egregious bill. Thank you for your time.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Immigration</option>
                                            <option value="blue">Oppose Trump’s New Travel Ban</option>
                                            <option value="red">Protect Immigrant Communities</option>
                                        </select>
                                    </div>
                                    <div class="blue box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Oppose Trump’s New Travel Ban</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to oppose Trump’s new travel ban.
                                        <br><br>
                                        The cosmetic alterations to the original ban are a shallow attempt to redirect the racist and anti-muslim agenda in the name of national security. This is clear recognition that the discriminatory intent of first order was not politically or legally sound. Coming after a turbulent week in the press for the Trump administration, it is obvious this new ban is also an attempt to redirect the political narrative. It serves no other purpose than to instill fear and hatred, and to and write islamophobia into policy. They cannot unring the bell.
                                        <br><br>
                                        I urge <b>Sen/Rep _____</b> to oppose the muslim travel ban and the new order and and to take a stand for the inclusive values that America was built upon. Thank you for your time.
                                        </p>
                                        </div>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Protect Immigrant Communities</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to protect our immigrant communities against the Trump Administration’s aggressive and inhumane deportation tactics. 
                                        <br><br>
                                        These tactics unfairly target undocumented immigrants who are productive and valued members of our communities, and it is outrageous to claim that any one of these members who has committed a non-serious offence qualifies for deportation. The measures of turning local police into immigration officers allows and encourages the illegal targeting of people based on race, skin color, and language, creating an atmosphere of fear that will only tear families apart and drive these immigrants further into the shadows. 
                                        <br><br>
                                        This racist and inhumane agenda flies in the face of American values of diversity and nondiscrimination, and I urge <b>Sen/Rep _____</b> to help protect our vulnerable immigrant communities. Thank you for your time.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Wall St</option>
                                            <option value="red">Oppose Deregulation</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                    <div class="gray-box">
                                        <h5 class="padding-bottom">Oppose Deregulation</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to oppose President Trump’s recent executive actions regarding financial regulation. 
                                        <br><br>
                                        I am extremely worried about the gutting of Dodd Frank, a hallmark piece of legislation passed by the Obama administration that protects average American’s against predatory Wall Street practices. Specifically, I worry about the dismantling of the Volker Rule and Consumer Financial Protection Bureau as I believe this rule and government agency are pivotal for maintaining fair consumer financial markets and regulating banks from unscrupulous trading practices that largely caused the Financial Crisis of 2008.
                                        <br><br>
                                        If Trump and the Republican Party try to turn loose the big banks and financial institutions so they can once again gamble with our economy and bring it all crashing down, I expect democrats to fight them every step of the way. Thank you for your time.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Women’s Rights</option>
                                            <option value="red">Block Defunding of Planned Parenthood</option>
                                            <option value="green">Say NO to the Global Gag Rule</option>
                                            <option value="blue">Block the 20-week abortion ban</option>
                                        </select>
                                    </div>
                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Block Defunding of Planned Parenthood</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep _____</b> to block any congressional attempts to federally defund Planned Parenthood. 
                                        <br><br>
                                        States’ denial of Medicaid or Title X grants to certain clinics is not only unconstitutional, but will render America’s poorest women unable to cover the cost of legitimate health care needs without safe and feasible alternatives.There is absolutely no legitimate social benefit in allowing states the ability to block these grants and it and only promotes the grotesque political agenda to deny vulnerable people in our communities of the right to necessary healthcare and family planning services.
                                        <br><br>
                                        I urge <b>Sen/Rep ______</b> to take a stand for women everywhere and help these clinics keep their doors open. Thank you for your time.</p>
                                        </div>
                                    </div>
                                    <div class="green box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Say NO to the Global Gag Rule</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep ____</b> to take a stand against the Global Gag Rule, a cruel and unusual denial of life-saving healthcare to the poorest women around the world.
                                        <br><br>
                                        Forcing healthcare providers around the world to choose between access to U.S. funding and their duty to provide patients with the safe healthcare that they deserve is not only dangerous and irresponsible, but severely degrades international progress made in women’s health. This rule has shown to have no effect on the rate of unwanted pregnancy or abortion in the past, and furthermore serves no purpose other than to promote the conservative political agenda that women around the world do not deserve the right to safe and affordable healthcare and family planning services.
                                        <br><br>
                                        I urge <b>Sen/Rep ____</b> to take a stand against the revival of this rule and the grotesque degradation to women’s health it causes. Thank you for time. </p>
                                        </div>
                                    </div>
                                    <div class="blue box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Block the 20-week abortion ban</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep ____</b> to block late-term abortion bans, an unconstitutional and cruel overreach of the conservative political agenda into women’s healthcare.
                                        <br><br>
                                        It is not only extremely dangerous, but illegal to attempt remove critical, unmeasurably difficult and life-saving medical decisions from both women and doctors alike. These bans are nothing but another thinly veiled political attempt to erode women’s rights protected under Roe v. Wade and to completely outlaw abortion altogether.
                                        <br><br>
                                        I expect <b>Sen/Rep ____</b> to stand up against this grotesque attack on women’s rights and support access to safe and necessary medical procedures. Thank you for your time.
                                        </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div>
                                        <select class="dropdown">
                                            <option>Budget</option>
                                            <option value="red">Oppose Cutting Funding of Public Programs</option>
                                            <option value="green">Oppose Trump’s Budget Plan</option>
                                        </select>
                                    </div>

                                    <div class="red box">
                                        <div class="gray-box">
                                        <h5 class="padding-bottom">Oppose Cutting Funding of Public Programs</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep ____</b> to oppose the Trump administration’s proposed cuts to National Arts programs, essential to American culture yet only make up a miniscule fraction of our federal budget. 
                                        <br><br>
                                        Appeasing radical conservatives by eliminating programs like National Endowment for the Arts, Corporation for Public Broadcasting, and the National Endowment for the Humanities will do nothing to help our nation’s fiscal outlook and only harm the many local communities in America who rely on them. These cuts are too small to even make a dent in the federal budget and only serve to destroy our public media system that invaluably enriches education, the economy and the lives of Americans everywhere. 
                                        <br><br>
                                        I urge <b>Sen/Rep ____</b> to take a stand for these valued public programs and protect freedom of expression and our cultural values. Thank you for your time.
                                        </p>
                                        </div>
                                    </div>

                                    <div class="green box">
                                     <div class="gray-box">
                                        <h5 class="padding-bottom">Oppose Trump’s Budget Plan</h5>
                                        <p>My name is ______, and I’m a constituent from <b>City, State</b>. <i>Leave your full address and any other information the office asks for.</i>
                                        <br><br>
                                        I’m calling to urge <b>Sen/Rep ____</b> to oppose President Trump’s Budget Proposal, a dangerous and irresponsible plan to destroy programs Americans depend on in order to advance the political agenda of the radical right.
                                        <br><br>
                                        In no way, shape or form does the  “America First” Budget Proposal put the American people first. I do not support a bill that seeks to cut infrastructure spending and programs for health, education and housing that assist low income families and our most marginalized citizens. This proposal serves no purpose than to further President Trump’s agenda to shrink the government, expand the military, and make budgetary room for tax cuts for the one percent at the expense of the American people. 
                                        <br><br>
                                        This agenda undermines our American values of fairness, liberty, equality, and justice for all and I urge <b>Sen/Rep ____</b> to vote against any form of Trump’s “America First” budget proposal. 
                                        </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="issue-content">
                                    <div class="issues-text gray-box">
                                    <p>If you’d like us to include a script that’s not listed here, or if you have any questions or comments, please shoot us an email at <a href="mailto:info@call-congress.com" target="blank" class="link">info@call-congress.com</a>.</p>
                                    </div>
                                </div>
                            </div><!--blank div-->
                </div><!--width 2-3-->
		    </div><!--boxes-->
		</div><!--transparent white-->
</div>
</div>


{% endblock %}

{% block js_script %}
<script type="text/javascript">
$('.issue').click(function() {
  var index = $(this).index();
  if($(this).hasClass('active')) {
    $(this).removeClass('active');
        $('.issue-content').eq(index).addClass('fadeOutDown')
  } else {
      $('.issue').removeClass('active');
    $(this).addClass('active')
    $('.issue-content').hide().eq(index).show().removeClass('fadeOutDown')
  }
});

$(document).ready(function() {
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    });
});

function unhide(divID) {
    var item = document.getElementById(divID);
    if (item) {
      item.className=(item.className=='hidden')?'unhidden':'hidden';
    }
  }

</script>

{% endblock %}
