{% extends "master.html" %}

{% block content %}
<div class="transparent-white">
    <h2 class="heading">Upcoming Events</h2>
    <hr>
    <div class="uk-grid issues-text">

        <div class="uk-width-1-4">
        laskdjflskdjf
        </div>
        <div class="uk-width-1-4">
        asldfkalsdkfj
        </div>
        <div class="uk-width-1-4">
        asldfjsldkfj
        </div>
        <div class="uk-width-1-4">
        asldfjsldkfj
        </div>
    </div>

    <div class="address-bottom">
    
        <form><input type="text" name="firstname" placeholder="enter your address"></form>
    
    </div>
    <div class="make-a-call"><input type="submit" value="Make a Call"></div>
</div><!--home-2-bottom-->
{% endblock %}
