<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Call Congress</title>
	<link rel="stylesheet" type="text/css" href="../static/uikit.css">
	<link rel="stylesheet" type="text/css" href="../static/my-theme.css">
	<link rel="icon" type="image/png" href="../static/images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../static/uikit.min.js"></script>

</head>
<body>
	<div class="stripe"></div>

	<div class="container">

	<div class="content">

		<div class="uk-container">
			<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
				<a href="" class="uk-navbar-item uk-logo"><img src="../static/images/logo.png"></a>
			    <div class="uk-navbar-right">
			        <ul class="uk-navbar-nav">
			            <li class="uk-parent"><a href="#call" data-uk-smooth-scroll><div class="underline">Why Call?</div></a></li>
			            <li class="uk-parent"><a href="html/events/"><div class="underline">Upcoming Events</div></a></li>
			            <li class="uk-parent"><a href="html/contact/"><div class="underline">About</div></a></li>
			        </ul>
			    </div>
		    </nav>
	    </div><!--navbar-->

		<div class="home-1">
			<div class="home-1-title">
			Don't let lawmakers make decisions on your behalf without making your voice heard.
			</div>

			<div class="address"><form><input type="text" name="firstname" placeholder="enter your address"></form></div>
			<div class="make-a-call"><input type="submit" value="Make a Call"></div>
		</div><!--Home1-->
		
		<div class="home-2">
		<a name="call"></a>
			<div class="uk-container uk-align-center uk-width-5-6">

				<div class="uk-child-width-expand@s" uk-grid>
				    <div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3>Power in Numbers</h3>
				        <hr>
				        <p>Congressional offices tally the number of calls they get about an issue, and pass the information along to representatives to consider. When there’s a large volume of calls about an issue, they’re forced to take a stand and respond.</p></div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3>How your representative votes</h3> <p>Make sure to know where your representative stands on issues and call effectively based on those stances. If they haven't taken a stand, you can let them know you expect them to.</p></div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3>Reps Work for You</h3>
				        <p>It is in the legislator's best interest to accurately represent his or her base because they want to remain in office. Making your voice heard applies pressure for action.</p></div>
				    </div>
				</div>
				<div class="uk-child-width-expand@s uk-text-center" uk-grid>
					<div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3>Beyond the Votes</h3> <p>Voting on an issue is the least of what a legislator can do. If a Rep sees their base advocating strongly for an issue, it incentivizes them to advocate for it publicly and within their chamber, or they can even ask for a bill not to be brought up at all. Congressmen have the power to change the conversation on a national level.</p></div>
				    </div>
				     <div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3>Don't Assume</h3>
				        <p>While democratic representatives usually stand for liberal issues, it’s not a good idea to expect them to always vote along party lines. If a rep thinks their constituency doesn’t care about an issue, they can become complacent and waiver support, or give in to interests of another special interest group. </p></div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-default uk-card-body">
				        <h3 class="underline">The Bottom Line</h3>
				        <p>If you have a strong opinion about an issue, it’s extremely important to voice it, no matter what your rep’s position may be. Make sure to let them know we’ll be watching their vote.</p></div>
				    </div>

				</div>

				
					
				 <div class="uk-child-width-expand@s uk-text-center" uk-grid>

				   
				    
				</div>

			</div>
			<div class="home-2-bottom">
				<div class="address-bottom">
				<div class="help-text">Enter your address to begin. We provide you with the phone numbers of your representatives, and what to say about different issues during your call.</div>
					<form><input type="text" name="firstname" placeholder="enter your address"></form>
				
				</div>
				<div class="make-a-call"><input type="submit" value="Make a Call"></div>
			</div><!--home-2-bottom-->
		</div><!--home2-->
    
    <footer><a href="#">Contact</a> | <a href="#">Legal</a> | <a href="#">Questions?</a>
    </footer>
    </div><!--container-->
    </div><!--content-->

   <script>
   	$('a[href*="#"]:not([href="#"])').click(function() {
   		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
   			var target = $(this.hash);
   			target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
   			if (target.length) {
   				$('html, body').animate({
   					scrollTop: target.offset().top
   				}, 1000);
   				return false;
   			}
   		}
   	});
   </script>


	
</body>
</html>