{% extends "master.html" %}

{% block content %}
<div class="transparent-white legal">
    <h2 class="heading">Privacy Policy</h2>
    <div class="uk-grid issues-text ">
        <div class="uk-width-3-4 margin-center">
        <p>We ask for the address where you're registered to vote in order to to determine which legislators are accountable to you. We do not store your address anywhere on our server.

        This is a free service and we do our best to provide information that is accurate. Please contact us if you have any questions or concerns at <a href="mailto:hello@call-congress.com" class="link">hello@call-congress.com</a>. Thank you.</p>
        </div>
    </div>

        
</div><!--transparent white-->
{% endblock %}
