<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Call Congress</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uikit.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my-theme.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="static/slick.css"/>
        <link rel="stylesheet" type="text/css" href="static/slick-theme.css"/>
        <link rel="stylesheet" href="static/font-awesome.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
    </head>

    <body>

    <div class="stripe"></div>

    <div class="container">
            <!-- navbar -->
            <div class="uk-container"> 
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar id="desktop-menu">
                    <a href="{{ url_for('index') }}" class="uk-navbar-item uk-logo"><img src="{{ url_for('static', filename='images/logo.png') }}"> </a>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav" id="menubar">
                            <li class="uk-parent red">
                                <a href="{{ url_for('index') }}#call">
                                    <div class="underline">Why Call?</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('events') }}">
                                    <div class="underline">Calls to Action</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('about') }}">
                                    <div class="underline">About</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                    <a href="#" class="shallow-padding-first"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="#" class="shallow-padding"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="https://github.com/call-congress/ProjectFreedom" class="shallow-padding"><i class="fa fa-github icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="mailto:info@call-congress.com" class="shallow-padding"><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--navbar-->

            <!--mobile navbar-->
            <div uk-toggle="target: #offcanvas-nav" id="mobile-menu">
                <a href="{{ url_for('index') }}" class="uk-navbar-item uk-logo mobile-menu-logo"><img src="{{ url_for('static', filename='images/logo.png') }}"> </a> 
                <i class="fa fa-bars mobile-menu-icon" aria-hidden="true"></i></div>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                <div class="uk-offcanvas-close mobile-menu-close-icon"><img src="static/images/close-icon.png"></div>
                    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                        <ul class="uk-navbar-nav uk-navbar-nav-mobile" id="menubar">

                            

                            <li class="uk-parent">
                                <a href="{{ url_for('index') }}#call">
                                    <div class="underline">Why Call?</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('events') }}">
                                    <div class="underline">Calls to Action</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('about') }}">
                                    <div class="underline">About</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                    <a href="#"><i class="fa fa-facebook icon" aria-hidden="true"></i></a> <a href="#" ><i class="fa fa-twitter icon" aria-hidden="true"></i></a> <a href="https://github.com/call-congress/ProjectFreedom"><i class="fa fa-github icon" aria-hidden="true"></i></a>  <a href="mailto:info@call-congress.com" ><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                            </li>
                            
                        </ul>

                    </nav>
                </div>
            </div>
            <!--mobile navbar-->
                
            <div class="page">
                {% block content %}{% endblock %}
            </div>
             <footer>
                <a href="{{ url_for('about') }}" class="link">Contact</a>  | 
                <a href="{{ url_for('legal') }}" class="link">Legal</a> |
                <a href="https://github.com/call-congress/ProjectFreedom" class="link">Open Source</a>
            </footer>

    </div>
        {% block js_script %}
        {% endblock %}

        <script>
      

    </script>

    </body>
    
</html>
