<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta property="og:url" content="http://www.call-congress.com"/>
        <meta property="og:title" content="Call Congress"/>
        <meta property="og:description" content="Make your voice heard"/>
        <meta property="og:image" content="http://www.call-congress.com/static/images/bg.png"/>


        <title>Call Congress</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uikit.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my-theme.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="static/slick.css"/>
        <link rel="stylesheet" type="text/css" href="static/slick-theme.css"/>
        <link rel="stylesheet" href="static/font-awesome.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
        <script src="static/analytics.js"></script>

    </head>

    <body>

    <div class="stripe"></div>

    <div class="container">
            <!-- navbar -->
            <div class="uk-container"> 
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar id="desktop-menu">
                    <a href="{{ url_for('index') }}" class="uk-navbar-item uk-logo"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-white"></a>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav" id="menubar">
                            <li class="uk-parent">
                                <a href="{{ url_for('index') }}#call">
                                    <div class="underline">Why Call?</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('events') }}">
                                    <div class="underline">Calls to Action</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('about') }}">
                                    <div class="underline">About</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                    <a href="https://www.facebook.com/callcongress/" target="blank" class="red shallow-padding-first"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="https://twitter.com/callgov" target="blank" class="red shallow-padding"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="https://github.com/call-congress/ProjectFreedom" target="blank" class="red shallow-padding"><i class="fa fa-github icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="uk-parent">
                                    <a href="mailto:info@call-congress.com" target="blank" class="red shallow-padding"><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--navbar-->

            <!--mobile navbar-->
            <div uk-toggle="target: #offcanvas-nav" id="mobile-menu">
                <a href="{{ url_for('index') }}" class="uk-navbar-item uk-logo mobile-menu-logo"> <img src="{{ url_for('static', filename='images/logo-blue.png') }}"> </a> 
                <i class="fa fa-bars mobile-menu-icon" aria-hidden="true"></i></div>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                <div class="uk-offcanvas-close mobile-menu-close-icon"><img src="static/images/close-icon.png"></div>
                    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                        <ul class="uk-navbar-nav uk-navbar-nav-mobile" id="menubar">

                            
                            <li class="uk-parent">
                                <a href="{{ url_for('index') }}">
                                    <div class="underline">Home</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('index') }}">
                                    <div class="underline">Make a Call</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('index') }}#call">
                                    <div class="underline">Why Call?</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('events') }}">
                                    <div class="underline">Calls to Action</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="{{ url_for('about') }}">
                                    <div class="underline">About</div>
                                </a>
                            </li>
                            <li class="uk-parent">
                                    <a href="https://www.facebook.com/callcongress/" target="blank"><i class="fa fa-facebook icon" aria-hidden="true"></i></a> <a href="https://twitter.com/callgov" target="blank" ><i class="fa fa-twitter icon" aria-hidden="true"></i></a> <a href="https://github.com/call-congress/ProjectFreedom" target="blank"><i class="fa fa-github icon" aria-hidden="true"></i></a>  <a href="mailto:info@call-congress.com" target="blank" ><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                            </li>
                            
                        </ul>

                    </nav>
                </div>
            </div>
            <!--mobile navbar-->
                
            <div class="page">
                {% block content %}{% endblock %}
            </div>
             <footer>
             <div class="footer-container">
                 <div class="uk-grid">
                    <div class="uk-width-expand"><a href="{{ url_for('index') }}"><img src="static/images/logo-tagline-gray.png"></a>
                    </div>
                    <div class="uk-width-expand"><h3>WHO ARE WE?</h3><br><a href="{{ url_for('about') }}" class="link">About us</a><br><br><a href="{{ url_for('about') }}" class="link">Contact</a>
                    </div>
                    <div class="uk-width-expand"><h3>TAKE ACTION</h3><br><a href="{{ url_for('index') }}" class="link">Make a Call</a> <br><br> <a href="{{ url_for('events') }}" class="link">Calls to Action</a>
                    </div> 
                    <div class="uk-width-expand"><h3>INFORMATION</h3><br><a href="/legal" class="link">Privacy Policy</a><br><br><a href="{{ url_for('index') }}#call" class="link">Why Call?</a>
                    </div>
                    <div class="uk-width-expand"><h3>FOLLOW</h3><br>
                    <a href="https://www.facebook.com/callcongress/" target="blank"><i class="fa fa-facebook icon" aria-hidden="true"></i></a> <a href="https://twitter.com/callgov" target="blank" ><i class="fa fa-twitter icon" aria-hidden="true"></i></a> <a href="https://github.com/call-congress/ProjectFreedom" target="blank"<i class="fa fa-github icon" aria-hidden="true"></i></a>  <a href="mailto:info@call-congress.com" target="blank"><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                    </div>
                 </div>
                 
             </div>


             <div class="footer-container-mobile">
                 
                    <div class="uk-width-1-1">
                        <a href="{{ url_for('index') }}" class="link">Make a Call</a><br><br>
                        <a href="/legal" class="link">Privacy Policy</a><br><br><a href="{{ url_for('about') }}" class="link">Contact</a><br><br>
                        <a href="https://www.facebook.com/callcongress/" target="blank" class="padding-left-mobile"><i class="fa fa-facebook icon" aria-hidden="true"></i></a> <a href="https://twitter.com/callgov" target="blank" ><i class="fa fa-twitter icon" aria-hidden="true"></i></a> <a href="https://github.com/call-congress/ProjectFreedom" target="blank"><i class="fa fa-github icon" aria-hidden="true"></i></a>  <a href="mailto:info@call-congress.com" target="blank" ><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                    </div>
             </div>

            </footer>

    </div>
        {% block js_script %}
        {% endblock %}

        <script>
        $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
        </script>

    </body>
    
</html>
