<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Call Congress</title>
	<link rel="stylesheet" type="text/css" href="../../dist/css/uikit.css">
	<link rel="stylesheet" type="text/css" href="../../dist/css/my-theme.css">
	<link rel="icon" type="image/png" href="../../dist/images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../../dist/js/uikit.min.js"></script>

</head>
<body>
	<div class="stripe"></div>

	<div class="container">

	<div class="content">

	<div class="uk-container">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			<a href="../../index.html" class="uk-navbar-item uk-logo"><img src="../../dist/images/logo.png"></a>
		    <div class="uk-navbar-right">
		        <ul class="uk-navbar-nav">
		            <li class="uk-parent"><a href="../../index.html#call"><div class="underline">Why Call?</div></a></li>
		            <li class="uk-active"><a href="../../html/events/"><div class="underline">Upcoming Events</div></a></li>
		            <li class="uk-parent"><a href="../../html/about/"><div class="underline">About</div></a></li>
		        </ul>
		    </div>
	    </nav>
    </div><!--navbar-->

    <div class="page">
    	<div class="transparent-white">
    		<h2 class="heading">Upcoming Events</h2>
    		<hr>
    		<div class="uk-grid issues-text">

    			<div class="uk-width-1-4">
    			laskdjflskdjf
    			</div>
    			<div class="uk-width-1-4">
    			asldfkalsdkfj
    			</div>
    			<div class="uk-width-1-4">
    			asldfjsldkfj
    			</div>
    			<div class="uk-width-1-4">
    			asldfjsldkfj
    			</div>
    		</div>

				<div class="address-bottom">
				
					<form><input type="text" name="firstname" placeholder="enter your address"></form>
				
				</div>
				<div class="make-a-call"><input type="submit" value="Make a Call"></div>
			</div><!--home-2-bottom-->

		    	
		</div><!--transparent white-->
	</div><!-- page -->
</div>
</div>
 
<footer><a href="#">Contact</a> | <a href="#">Legal</a> | <a href="#">Questions?</a></footer>

</div><!--container-->
</div><!--content-->

<script>

</script>

</body>
</html>