<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Call Congress</title>
	<link rel="stylesheet" type="text/css" href="../../static/uikit.css">
	<link rel="stylesheet" type="text/css" href="../../static/my-theme.css">
	<link rel="icon" type="image/png" href="../../static/images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../../static/uikit.min.js"></script>

</head>
<body>
	<div class="stripe"></div>

	<div class="container">

	<div class="content">

	<div class="uk-container">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			<a href="../../index.html" class="uk-navbar-item uk-logo"><img src="../../static/images/logo.png"></a>
		    <div class="uk-navbar-right">
		        <ul class="uk-navbar-nav">
		            <li class="uk-parent"><a href="../../index.html#call"><div class="underline">Why Call?</div></a></li>
		            <li class="uk-active"><a href="../../templates/scripts/"><div class="underline">Upcoming Events</div></a></li>
		            <li class="uk-parent"><a href="../../templates/about/"><div class="underline">About</div></a></li>
		        </ul>
		    </div>
	    </nav>
    </div><!--navbar-->

    <div class="page">
    	<div class="transparent-white">
    		<h2 class="heading">Upcoming Events</h2>
    		
    		<div class="uk-grid issues-text">

    			<div class="uk-width-1-4">
	    			<h5 class="cover">January 17th, 2017</h5>
	    			<h5 class="red">Neil Gorsuch Nomination</h5>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    			</div>
	    			<div class="uk-width-1-4">
	    			<h5 class="cover">January 17th, 2017</h5>
	    			</div>
	    			<div class="uk-width-1-4">
	    			<h5 class="cover">January 17th, 2017</h5>
	    			</div>
	    			<div class="uk-width-1-4">
	    			<h5 class="cover">January 17th, 2017</h5>
	    			</div>
    			</div>

			</div><!--home-2-bottom-->
		
		</div><!--transparent white-->
	</div><!-- page -->

 
<footer><a href="#">Contact</a> | <a href="#">Legal</a> | <a href="#">Questions?</a></footer>

</div><!--container-->
</div><!--content-->

<script>

</script>

</body>
</html>